<br /><br />
<div class="intro">
  Welcome to VG Tracker, the website to help you track your video game purchases.  Ever had multiple copies of a game because you purchased them via multiple sources or for multiple platforms?  This site hopes to alleviate those very issues!
</div>
<br /><br />
<div class="entry-buttons">
  <%= button_to 'Sign Up', '/signup', method: 'get' %>
  <%= button_to 'Sign In', '/signin', method: 'get' %>
</div>
