<div class="outer">
  <div class="middle">
    <div class="inner left intro">
      Welcome to VG Tracker, the website to help you track your video game purchases.  Ever had multiple copies of a game because you purchased them via different sources or for several platforms?  This site hopes to alleviate those very issues!  If a game doesn't exist in our database yet, the site will pull from the IGDB API for video games and add the game(s) to our database.  If you'd like to manually add a game to the database, just contact us and give us as much information as you can.  Once we confirm all the details, we can add it and let you know.
      <br /><br />
      <div class="entry-buttons">
        <%= button_to 'Sign Up', '/signup', method: 'get' %>
        <%= button_to 'Sign In', '/signin', method: 'get' %>
      </div>
  </div>
</div>
