<h1>Welcome to VG Purchases!</h1>
<p>This site not only allows you to keep a collection of your video games, but also where you purchased them from.  If you have keys for digital versions of your video games, it can be hard to track if you have the game or not.  This site helps to eliminate that confusion.</p>
