/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister|Sniglet');

body {
 font-family: 'Sniglet', cursive;
 background-image: url('sayagata-400px.png');
 margin: 0;
}

.header {
  background-color: black;
  height: 100px;
}

.logo {
  color: white;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 25px;
  font-size: 50px;
  padding-left: 20px;
}

.intro {
  padding-left: 20px;
  font-size: 24px;
}

.logo, h2 {
 font-family: 'Love Ya Like A Sister', cursive;
}

.signout {
  color: white;
  text-align: right;
  margin-top: -70px;
  margin-right: 20px;
  font-size: 25px;
}

h2 {
  font-size: 32px;
}

input[type=text], input[type=password] {
  font-family: 'Sniglet', cursive;
  padding: 10px;
  font-size: 14px;
  width: 200px;
}

textarea {
  font-family: 'Sniglet', cursive;
  width: 215px;
  height: 125px;
  font-size: 14px;
  border: 1px solid rgb(204, 204, 204);
  resize: none;
}

select {
  padding: 10px;
  font-size: 14px;
}

input[type=submit] {
  background: white;
  padding: 10px;
  border-radius: 5px;
  float: left;
  display: inline;
  font-size: 14px;
  font-family: 'Sniglet', cursive;
  margin-right: 15px;
}

.signin, .signup {
  width: 120px;
}

form .search-games {
  float: none;
}

.entry-buttons {
  width: 17%;
  margin: auto;
}

.center {
  text-align: center;
  width: 50%;
  margin: auto;
}

.left {
  padding-left: 50px;
}

.single-button {
  width: 120px;
  margin: auto;
}

select {
  background-color: white;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #476AE8;
}

.logo a:visited, .signout a:visited {
  color: white;
}

a:visited {
  color: #476AE8;
}

a:hover, .signout a:hover {
  color: green;
}
