/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister|Sniglet');

body {
 font-family: 'Sniglet', cursive;
 background: url('68826634-free-rainbow-wallpapers.jpg') no-repeat center center fixed;
 /*background: url('68943164-free-rainbow-wallpapers.jpg') no-repeat center center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  background-color: rgba(255, 255, 255, .50);

}

.main {
  width: 75%;
  height: 1000px;
  margin: 0;
  margin-left: 12%;
}

.fixed-container {
  position: fixed;
  width: 100%;
}

.header {
  background-color: black;
  height: 100px;
}

.logo {
  color: white;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 25px;
  font-size: 50px;
  padding-left: 20px;
}

.intro {
  margin: auto;
  width: 75%;
  padding: 10px 0;
  font-size: 30px;
}

.logo, h2 {
 font-family: 'Love Ya Like A Sister', cursive;
}

.nav {
  text-align: right;
  margin-top: -70px;
  margin-right: 20px;
  font-size: 25px;
}

.search {
  margin-right: 10px;
}

h2 {
  font-size: 32px;
}

input[type=text], input[type=password] {
  font-family: 'Sniglet', cursive;
  padding: 10px;
  font-size: 14px;
  width: 200px;
}

textarea {
  font-family: 'Sniglet', cursive;
  width: 215px;
  height: 125px;
  font-size: 14px;
  border: 1px solid rgb(204, 204, 204);
  resize: none;
}

select {
  padding: 10px;
  font-size: 14px;
}

input[type=submit] {
  background: white;
  padding: 10px;
  border-radius: 5px;
  float: left;
  display: inline;
  font-size: 14px;
  font-family: 'Sniglet', cursive;
  margin-right: 15px;
}

.signin, .signup {
  width: 120px;
}

form .search-games {
  float: none;
}

.entry-buttons {
  width: 17%;
  margin: auto;
}

.center {
  padding: 100px 0 50px 0;
  text-align: center;
  width: 50%;
  margin: auto;
  background-color: rgba(0, 0, 0, .25)
}

.left {
  padding: 100px 50px 50px 50px;
  /*background-color: rgba(255, 255, 255, .25)*/
}

.single-button {
  width: 120px;
  margin: auto;
}

select {
  background-color: white;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #476AE8;
}

.no-link a {
  color: black;
}

a:visited {
  color: #476AE8;
}
.logo a:visited {
  color: white;
}

.nav a:visited, .no-link a:visited {
  color: black;
}

a:hover, .no-link a:hover {
  color: green;
}

.nav a:hover {
  background-color: green;
  border: 1px solid green;
}

.signout, .search {
  padding: 5px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: white;
  color: black;
}

.user_games, .user_info {
  background-color: rgba(255, 255, 255, .5);
  margin-bottom: 20px;
  float: left;
  margin-right: 50px;
  overflow: scroll;
  box-shadow: 5px 5px 5px black;
}

.user_games {
  width: 1000px;
  height: 500px;
}

.user_info {
  width: 300px;
  height: 250px;
}

.user_info h3, .user_games h3 {
  background-color: rgba(255, 255, 255, .25);
  height: 25px;
  margin: 0;
  padding: 10px;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

td {
  padding: 10px;
}
