/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister|Sniglet');

/*set style and background for body*/
body {
  background-color: white;
  background: url('/assets/6.png') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Sniglet', cursive;
  margin: 0;
  /*zoom: 90%;*/
}

/*style main div for all pages to provide spacing*/
.main {
  width: 75%;
  padding: 150px 0 0 12%;
  margin-bottom: 50px;
}

/*style top navigation bar*/
.header {
  position: fixed;
  width: 100%;
  background-color: black;
  height: 100px;
}

/*style logo*/
.logo {
  color: white;
  padding-top: 15px;
  font-size: 40px;
  padding-left: 20px;
}

/*style intro paragraph*/
.intro {
  font-size: 25px;
  background-color: rgba(255, 255, 255, .75);
  padding: 25px;
}

/*style font for logo and h2 tags*/
.logo, h2 {
 font-family: 'Love Ya Like A Sister', cursive;
}

/*placement and font size of top navigational buttons*/
.nav_buttons {
  text-align: right;
  margin-top: -45px;
  margin-right: 20px;
  font-size: 20px;
}

/*font size of h2 tags*/
h2 {
  font-size: 24px;
}

/*style of text and password fields*/
input[type=text], input[type=password] {
  font-family: 'Sniglet', cursive;
  padding: 10px;
  font-size: 14px;
  width: 200px;
  border-radius: 5px;
}

/*style of text area fields*/
textarea {
  font-family: 'Sniglet', cursive;
  width: 215px;
  height: 125px;
  font-size: 14px;
  border: 1px solid rgb(204, 204, 204);
  resize: none;
}

/*set font size and bg color for drop-down lists*/
select {
  font-size: 12px;
  background-color: white;
}

/*style submit buttons*/
input[type=submit] {
  background: rgb(0, 192, 239);
  padding: 10px;
  border-radius: 5px;
  float: left;
  font-size: 14px;
  font-family: 'Sniglet', cursive;
  margin-right: 10px;
}

/*style search game form on game index page*/
form .search_games {
  float: none;
}

/*make elements centered and give bg color*/
.center, .center_big {
  padding: 20px 40px 100px 40px;
  text-align: center;
  width: 25%;
  margin: auto;
  background-color: rgba(255, 255, 255, .75);
}

/*create a larger center style*/
.center_big {
  width: 75%;
}

/*center elements in user show page*/
.center_no_bg {
  margin-left: 5%;
}

/*style single button on form*/
.single_button {
  width: 135px;
  margin: auto;
}

/*style multiple buttons on form*/
.multiple_buttons {
  width: 425px;
  margin: auto;
}

/*placement of add game button*/
.add_game_button_position {
  width: 120px;
  margin: auto;
}

/*placement of add game to account button*/
.add_to_account {
  width: 150px;
  margin: auto;
}

/*placement of update entry button*/
.update_entry {
  width: 110px;
  margin: auto;
}

/*remove bullet points from li tags*/
li {
  list-style-type: none;
  font-size: 16px;
}

/*style site links*/
a {
  text-decoration: none;
  color: black;
}

/*style library edit and delete links*/
.no_link a {
  color: black;
}

/*color of links when visited*/
a:visited {
  color: black;
}

/*color of logo when visited*/
.logo a:visited {
  color: white;
}

/*color of navigation, edit and delete links when visited*/
.nav_buttons a:visited, .no_link a:visited {
  color: black;
}

/*color of links when hovering*/
a:hover, .no_link a:hover {
  color: rgb(0, 192, 239);
}

/*color of navigation links when hovering*/
.nav_buttons a:hover {
  background-color: rgb(0, 192, 239);
  border: 1px solid rgb(0, 192, 239);
}

/*style buttons at top right*/
.signout_top, .search_top, .signin_top, .signup_top {
  padding: 5px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: white;
  color: black;
}

/*space out buttons at top right*/
.search_top, .signup_top {
  margin-right: 10px;
}

/*set width of initial form buttons to center on form*/
.create_account_button, .signin_button, .add_game_button {
  width: 135px;
}

/*style information on user show page*/
.user_games, .user_info {
  margin-bottom: 20px;
  overflow: scroll;
  background-color: rgba(255, 255, 255, .75);
  border: outset;
}

/*style information on user show page specific to the user games section*/
.user_games {
  width: 902px;
  height: 350px;
  float: left;
}

/*style information on user show page specific to the other user sections*/
.user_info {
  float: left;
  margin-right: 25px;
  width: 280px;
  height: 250px;
  overflow: scroll;
}

/*style all h3 tags*/
h3 {
  font-size: 16px;
}

/*style user_games heading on show user page*/
.user_games h3 {
  width: 980px;
}

/*style user_info heading on show user page*/
.user_info h3 {
  width: 280px;
}

/*style h3 tags in show user page*/
.user_info h3, .user_games h3 {
  background-color: rgb(255, 255, 255);
  height: 25px;
  margin: 0;
  padding: 10px;
}

/*position table on show user section*/
table {
  margin: -20px 25px 0 25px;
}

/*add some padding to table columns in show user section*/
td {
  padding: 10px;
  font-size: 16px;
  vertical-align: bottom;
}

/*style each line of user_games on show user page*/
.first {
  margin-top: -20px;
}

/*style title of column of user_games on show user page*/
.title {
  margin-bottom: 20px;
}

/*style library game notes on user show page*/
.notes {
  margin-top: -20px;
  padding-bottom: 20px;
  border-bottom: 3px dotted black;
}

/*style each line on the user_info sections on show user page*/
h4 {
  margin-bottom: -45px;
}
